.add_comment_block {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  padding: 5px;
}
.no_comments_text {
  font-size: 14px;
  text-align: center;
  color: var(--text-low);
}
