.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.leftSide {
  flex: 1;
  background-color: var(--echat-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateX(-100%);
  animation: slideInLeft 0.5s ease-out forwards;
  opacity: 0;
}
.leftSide img {
  width: 200px;
  height: 200px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.brandTitle {
  font-size: 160px;
  color: white;
  font-weight: bold;
}

.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  transform: translateX(100%);
  animation: slideInRight 0.5s ease-out forwards;
  overflow-y: auto;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 40px;
}

.socialButtons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  margin-left: 8px;
  width: 20px;
  height: 20px;
}

.hrWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.hrLine {
  border: 0;
  border-top: 2px solid #24242450;
  width: 100px;
}

.orText {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.terms {
  text-align: center;
  font-size: 14px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.termsLink {
  color: var(--echat-color);
  text-decoration: none;
}

.alreadyHaveAccount {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .socialButtons {
    width: 100%;
  }

  .leftSide {
    width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .leftSide img {
    height: 34px;
    width: 34px;
  }
  .brandTitle {
    padding-bottom: 5px;
    font-size: 38px;
  }

  .rightSide {
    display: block;
    padding: 20px;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 18px;
  }

  .orText {
    font-size: 14px;
  }

  .registerButton {
    width: 100%;
  }

  .terms {
    font-size: 12px;
  }
}
