.profile {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;
  width: 100%;
}
.user_image {
  border: 1px solid grey;
  height: 100px;
  width: 100px;
  border-radius: 50%;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}
.user_image:hover {
  border: 1px solid var(--echat-color);
}
.user_image_upload_icon {
  position: absolute;
  bottom: 0;
  right: 34px;
  height: 30px;
  width: 30px;
}
.user_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile h1 {
  text-align: center;
}
.profile h3 {
  text-align: center;
}

.themeSwitcher {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3631310e;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change_user_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.themeButton {
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
