.main_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-theme);
}

.posts_wrapper {
  flex: 1;
  overflow-y: auto;
  display: flex;
  width: 100%;
  justify-content: center;
}

/* message styles  */
.post_list_container {
  width: 100%;
  max-width: 1360px;
  min-height: 500px;
  overflow-y: auto;
}

.messages {
  width: 100%;
  /* max-width: 1360px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}

.deleting {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.post_edit_selection {
  cursor: pointer;
}
/* dropdown menu */
.edit_delete_buttons {
  position: absolute;
  top: 30px;
  right: 0px;
  display: flex;
  flex-direction: column;

  min-width: 100px;
}
.edit_delete_buttons button {
  color: var(--text-color);
  padding: 8px 15px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
  cursor: pointer;
}
.edit_delete_buttons button:hover {
  background-color: var(--hover);
}
.edit_delete_buttons img {
  height: 14px;
  width: 14px;
}
/* bottom cart */
.bottom_cart {
  width: 100%;
  padding: 15px 10px 10px 12px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.user_image {
  border: 1px solid grey;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_image img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.user_info {
  min-width: 90%;
}

.messages_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.user_name {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.user_name span {
  color: grey;
}
.dot_wrapper {
  width: 5px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* dropdown icon */
.icon_transition {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon_rotate {
  transform: rotate(-180deg);
}

.dot_wrapper span {
  color: #707070;
  font-size: 24px;
  padding-bottom: 10px;
}

.message_content {
  width: 95%;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}
.message_content p {
  margin-bottom: 10px;
}
.message_content img {
  /* width: 100%; */
  height: auto;
  max-height: 400px;
  min-width: 500px;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.message_actions {
  padding: 10px 100px 10px 0px;
}

.message_icons {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon_image span {
  color: #707070;
  padding-left: 5px;
}
.message_icons span img {
  opacity: 0.7;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
