.container {
  padding: 20px;
  margin-bottom: 50px;
}
.movie_actions {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
.movie_actions input {
  border-radius: 10px;
}
.movie_actions button {
  padding: 3px;
  font-size: 14px;
}
.movies {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 10px;
}
.movies_items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .movies {
    grid-template-columns: 2fr 5fr;
    margin-bottom: 50px;
  }
  .movies_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .movie_actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
