.sidebar {
  width: 250px;
  background-color: var(--bg-color);
  padding: 2rem 1rem;
  border-right: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}
.logo {
  font-size: 18px;
  font-weight: 900;
  padding-left: 5px;
  color: var(--echat-color);
}
.icon {
  margin-left: 8px;
  width: 38px;
  height: 38px;
}

.unreadDot {
  width: 10px;
  height: 10px;
  background: rgb(121, 209, 236);
  border-radius: 999px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menuItem {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 5px;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.menuItem:hover {
  background-color: #d3d3d3;
}
.menuItem img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}
.menuItem span {
  padding-left: 5px;
  line-height: 24px;
}
.user_image {
  border: 1px solid grey;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.authLinks div {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
}
.user_info {
  display: flex;
  flex-direction: column;
}
.info_name {
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #313131;
}
.info_address {
  color: #858585;
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}
.authLinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  text-align: center;
}

.logoutBtn {
  position: absolute;
  right: 10%;
  top: 0px;
  background-color: transparent;
  border: none;
  padding: 5px;
  color: rgba(107, 107, 107, 0.651);
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
    border-top: 1px solid var(--border-color);
    border-right: none;
    background-color: var(--bg-color);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    z-index: 999;
    transition: background-color 0.3s, color 0.3s;
    background-color: #e7e7e7;
  }

  .menuItem {
    padding: 0px 15px;
    justify-content: center;
  }
  .menu {
    flex-direction: row;
    gap: 2px;
  }

  .authLinks {
    display: none;
  }
}
