.container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  /* padding: 2rem; */
}

.player_icons {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: white;
}

.board {
  display: grid;
  grid-template-areas:
    "p1  p2  p3  p4  p5  p6  p7  p8  p9  p10 p11"
    "p40 .   .   .   .   .   .   .   .   .   p12"
    "p39 .   .   .   .   .   .   .   .   .   p13"
    "p38 .   .   .   .   .   .   .   .   .   p14"
    "p37 .   .   .   .   .   .   .   .   .   p15"
    "p36 .   .   .   .   .   .   .   .   .   p16"
    "p35 .   .   .   .   .   .   .   .   .   p17"
    "p34 .   .   .   .   .   .   .   .   .   p18"
    "p33 .   .   .   .   .   .   .   .   .   p19"
    "p32 .   .   .   .   .   .   .   .   .   p20"
    "p31 p30 p29 p28 p27 p26 p25 p24 p23 p22 p21";
  width: 100%;
  height: 100vh;
  aspect-ratio: 1;
  gap: 2px;
}

.cell {
  border: 1px solid #999;
  background-color: #00000009;
  font-size: 0.6rem;
  text-align: center;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  user-select: none;
  min-width: 7rem;
  min-height: 7rem;
}
.cell[style*="grid-area: roll"] {
  background-color: #ffc;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}
.number {
  position: absolute;
  left: 5px;
  top: 5px;
}
.rent {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.aLotOfPlayers {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  left: 10px;
}
.token {
  font-size: 1rem;
  margin-top: 4px;
  color: red;
}
/* user */

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-height: 60vh;
  overflow-y: hidden;
  user-select: none;
  padding: 1rem;
  background-color: #f5f5f5;
  gap: 1rem;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game_logs {
  max-height: 400px;
  overflow: auto;
  /* border: 1px solid #ccc; */
  padding: 10px;
  box-sizing: border-box;
}
