* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Chrome, Safari, Opera */
.main_page::-webkit-scrollbar {
  display: none;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  --echat-color: #1da0f2;
  --bg-error: #ffe6e6;
  --echat-color-agree: #00e8b6;
  --echat-color-stop: #f9f871;
  --echat-color-false: #f27450;
}

[data-theme="light"] {
  --bg-color: #f2f2f2;
  --hover: #e3e3e3;
  --bg-theme: rgb(228, 228, 228);
  --text-color: #111827;
  --border-color: #e5e7eb;
  --text-low: #666666de;
}

[data-theme="dark"] {
  --bg-color: #111827;
  --bg-theme: rgb(44 44 44 / 39%);
  --text-color: #f9fafb;
  --border-color: #374151;
  --text-low: #999999;
  --hover: #292929;
}

html,
body,
#root {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

#root {
  display: flex;
  flex-direction: column;
}

/* global class loader for LoadingSmall */
.loader_center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #888;
  height: 100vh;
}

/* global classes on errors  */
.error,
.success {
  position: absolute;
  top: 0;
  left: 50px;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  transition: all 0.5s;
  opacity: 0.8;
  transition: opacity 3s ease;
  z-index: 10;
}
.error {
  color: var(--echat-color-false);
}
.success {
  color: var(--echat-color-agree);
}
.fadeOut {
  opacity: 0;
}
