.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.content {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
  min-width: 680px;
}

@media (max-width: 768px) {
  .content {
    min-width: 350px;
  }
  .layout {
    flex-direction: column;
  }
}
