.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  height: 100vh;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
