.rightbar {
  max-width: 500px;
  background-color: var(--bg-color);
  padding: 0.5rem 1rem;
  border-left: 2px solid var(--border-color);
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  transition: background-color 0.3s, color 0.3s;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news_block {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.news_block h2 {
  font-size: 20px;
  color: var(--text-color);
}
.news_block {
  background-color: var(--bg-color);
  border-radius: 8px;
  transition: background-color 0.3s;
}
.newsContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

/* Dots */
.newsOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.newsOptions span {
  position: absolute;
  top: 0px;
  right: 0;
  height: 8px;
  color: var(--text-low);
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
/* end Dots */

.recommended_users img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.recommended_info {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 5px;
  overflow: hidden;
  max-width: 255px;
}
.newsInfoText {
  font-size: 12px;
  color: var(--text-low);
}
.newsTitles {
  flex-wrap: wrap;

  word-break: break-word;
}
.newsName {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* padding: 0 10; */
}
.newsName img {
  height: 16px;
  width: 16px;
}
.newsSeeMore_msg {
  text-align: left;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  color: #048cf2;
  cursor: pointer;
}
.newsItem:last-of-type {
  font-size: 12px;
  text-align: center;
}

@media (max-width: 768px) {
  .rightbar {
    display: none;
  }
}
