/* input styles */
.suggestionItem,
.noResults {
  padding: 10px 30px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
}

.suggestionItem:hover {
  background-color: var(--hover);
  cursor: pointer;
}
.suggestionItem.selected {
  background-color: var(--hover);
}
